.assignmentsList {
    max-height: 250px;
    overflow: auto;
    list-style: none;
    padding: 0;
}

.assignmentsList::-webkit-scrollbar {
    width: 5px;
}
  
.assignmentsList::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.assignmentsList::-webkit-scrollbar-thumb {
    background: #888; 
}

.assignmentsList p {
    margin: 0;
}

.assignmentsList li {
    border-bottom: 1px solid gray;
    padding: 5px 0;
}

.model {
    font-weight: bold;
}

.software {
    font-weight: bold;
}

.devName {
    text-transform: uppercase;
    color: rgb(35, 57, 180)
}

